body.dark-mode {
    background: #232333;
    color: #8f82a5;
}
/* start css general */
body.dark-mode h6 {
    color: #f0f0f5 !important;
}

body.dark-mode .bg-menu-theme .menu-inner-shadow {
    background: linear-gradient(
        #2b2c40 41%,
        /* warna dasar */ rgba(43, 44, 64, 0.6) 95%,
        /* versi transparan */ rgba(43, 44, 64, 0) /* fade out */
    ) !important;
}

body.dark-mode .text-muted {
    color: #fff !important;
}
/* end css general */
body.dark-mode .layout-navbar {
    background-color: #2b2c40 !important;
}

body.dark-mode .app-brand-text {
    color: #f0f0f5 !important;
}

body.dark-mode .bg-footer-theme {
    background-color: #2b2c40 !important;
}

body.dark-mode .footer-link {
    color: #d5d5e2;
}

body.dark-mode .card {
    background-color: #2b2c40 !important;
}

body.dark-mode .form-control {
    background-color: #2b2c40 !important;
}

body.dark-mode .layout-menu {
    background-color: #2b2c40 !important;
}

body.dark-mode .menu-link {
    color: #f0f0f5 !important;
}

body.dark-mode h5 {
    color: #f0f0f5 !important;
}

body.dark-mode label {
    color: #f0f0f5 !important;
}

.filter-section {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.table-responsive {
    border-radius: 8px;
    overflow: hidden;
}

/* Belum dibuka */
table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    content: "\f0fe" !important; /* fa-plus-square */
    font-family: "Font Awesome 6 Free"; /* sesuaikan dengan versimu */
    font-weight: 900;
}

/* Sudah dibuka */
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr.parent
    > th.dtr-control:before {
    content: "\f146" !important; /* fa-minus-square */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.dtr-details {
    background: #f8f9fa;
    border-radius: 8px;
    padding: 15px !important;
    margin: 10px 0;
    width: 100% !important;
}

body.dark-mode .list-group-item {
    color: #f0f0f5 !important;
}

body.dark-mode .dtr-details {
    background: #232333 !important;
    border-radius: 8px;
    padding: 15px !important;
    margin: 10px 0;
    width: 100% !important;
}

body.dark-mode .table-light {
    background-color: #f0f0f5 !important;
}

body.dark-mode .alert-primary {
    color: #f0f0f5 !important;
}

body.dark-mode th {
    color: #f0f0f5 !important;
}

body.dark-mode .table {
    color: #f0f0f5 !important;
}

body.dark-mode .dataTables_info {
    color: #f0f0f5 !important;
}

body.dark-mode .form-select {
    background-color: #2b2c40 !important;
    color: #fff;
}

/* css dark-mode table */
body.dark-mode
    table.dataTable.dtr-inline.collapsed
    > tbody
    > tr
    > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    color: #fff;
}

/* start css dark-mode modal */
body.dark-mode .modal-content {
    background-color: #2b2c40;
}

body.dark-mode .modal-content .modal-title {
    color: #fff;
}

/* end css dark-mode modal */

/* css dark-mode form-input */
body.dark-mode .form-control {
    color: #fff;
}

body.dark-mode {
    color: #fff;
    input[type="file"]::file-selector-button {
        background-color: #232333;
        color: white;
        border: none;
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
    }
}
body.dark-mode {
    input[type="file"]::file-selector-button:hover {
        background-color: #45a049; /* warna saat hover */
        color: #232333;
    }
}
